<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dialogflow Bot PoC</title>
    </head>
    <body>
        <h1>Dialogflow Bot PoC</h1>
        <div style="width: 50%;margin: auto;">
            <iframe
                    allow="microphone;"
                    width="100%"
                    height="430"
                    src="https://console.dialogflow.com/api-client/demo/embedded/5faae29c-3f17-4890-b054-e6133483fe7a"
                    >
            </iframe>
        </div>    
    </body>
</html>